#include <windows.h>
1000 DIALOGEX 0, 0, 240, 170
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "护眼设置"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "工作间隔(分钟):", 1005, 10, 20, 80, 10
    EDITTEXT        1001, 100, 18, 40, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "休息间隔(分钟):", 1006, 10, 45, 80, 10
    EDITTEXT        1002, 100, 43, 40, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "锁屏模式:", 1007, 10, 70, 80, 10
    COMBOBOX        1003, 100, 68, 120, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "随系统启动", 1004, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 100, 100, 12
    DEFPUSHBUTTON   "确定", IDOK, 60, 135, 40, 14
    PUSHBUTTON      "取消", IDCANCEL, 140, 135, 40, 14
END